/* 導覽列模組 */

@import url('https://fonts.googleapis.com/css?family=Pacifico');
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    width: 100%;
}

.btn-menu {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    line-height: 40px;
    vertical-align: baseline;
}

.btn-menu:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
}

nav ul {
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: black;
    color: rgb(226, 37, 37);
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}

.title:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
