.icon {
    height: 100%;
    align-items: center;
    padding: 60px;
}

.icon img {
    max-width: 100%;
    padding-bottom: 10px;
}

.icon h2 {
    font-size: 1em;
    font-family: "Nunito Sans", sans-serif;
    color: rgb(217, 0, 0);
    font-size: 200%;
    padding-bottom: 5%;
}

.icon p {
    font-size: 0.75em;
    font-family: "Nunito Sans", sans-serif;
    font-size: 100%;
    color: #484848;
    padding-bottom: 30px;
}
