/* 圖片模組 */

.thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background-color: #ededed;
    padding: 80px;
}

.thumbnail h2 {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(217, 0, 0);
    font-size: 30px;
    padding-bottom: 20px;
    text-align: left;
}

.thumbnail p {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(60, 60, 60);
    font-size: 20px;
    padding-top: 30px;
    text-align: left;
}

.thumbnail img {
    /* RWD Image*/
    max-width: 100%;
}

.thumbnail .caption h3 {
    font-size: 1em;
}

.thumbnail .caption p {
    font-size: 0.75em;
}
