/* 圖片模組 */

.thumbnail {
    border: 1px solid #ddd;
    padding: 0px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.thumbnail img {
    /* RWD Image*/
    max-width: 100%;
}

.breakfast {
    background-image: url(../images/breakfast.jpg);
    background-size: cover;
    width: 540px;
    height: 40vh;
    display: flex;
    background-position: top;
    opacity: 0.8;
    filter: alpha(opacity=60);
    align-items: center;
    margin: 10px auto;
    color: white;
}

.lunch {
    background-image: url(../images/lunch.jpg);
    background-size: cover;
    width: 540px;
    height: 18vh;
    display: flex;
    background-position: left;
    opacity: 0.8;
    filter: alpha(opacity=60);
    align-items: center;
    margin: 0px auto;
    color: white;
}

.dinner {
    background-image: url(../images/dinner02.jpg);
    background-size: cover;
    width: 540px;
    height: 18vh;
    display: flex;
    background-position: left;
    opacity: 0.8;
    filter: alpha(opacity=60);
    align-items: center;
    margin: 0px auto;
    color: white;
}
